*.o
inirw.c
getshm
setshm
inirw
get_mode
switch_ap
switch_sta
switch_airkiss
key_reponser
volume
ota_state
ota_test
ota_test_nv
ota_test_version
player_test
playtone
power
render_test
record_test
event_test_recv
event_test_send
playkey
get_wifi_list
stop_wifi
welcome
otact
startup_ether
stop_ether
