*.lo

.deps/
.libs/

.dirstamp

lzotest/lzotest
minilzo/testmini

examples/dict
examples/lzopack
examples/overlap
examples/precomp
examples/precomp2
examples/simple

stamp-h1
align
chksum
promote
sizes

Makefile
config.h
config.log
config.status
libtool
src/liblzo2.la
