*.o
app_service
download_mp3
wifi_mode_switch
config_sta
sta_config_page
sta_config_confirm_page
ap_config_page
ap_config_confirm_page
app_get_music_list
app_get_deviceinfo
app_start_recovery
app_start_update
check_mp3file
app_add_alarm
app_delete_alarm
app_get_alarm_list
app_time_get_clock
app_time_set_clock
app_update_alarm
app_check_sdcard
app_get_downloadlist
app_get_timer_timestamp
app_set_timer
