*.o
.deps/
.libs/
Makefile
communicate.lo
config.1*
config.2*
config.3*
config.4*
config.5*
config.6*
config.7*
config.8*
config.9*
config.0*
config.h
config.log
config.status
doc/Makefile
doc/de/Makefile
doc/es/Makefile
doc/fr/Makefile
doc/nl/Makefile
doc/sv/Makefile
faked
fakerootconfig.h
libcommunicate.la
libfakeroot.la
libfakeroot.lo
libfakeroot_inode64.lo
libfakeroot_unix2003.lo
libmacosx.la
libtool
scripts/Makefile
scripts/fakeroot
simple
stamp-h1
test/Makefile
test/defs
wrapdef.h
wrapped.h
wrapstruct.h
wraptmpf.h
